body {
    
    
    font-family: 'Roboto', sans-serif;
    object-fit: cover;
    
}
.page-header{
  background-image: url("./images/pageheader-1920w.jpg");
  
  background-size: 100% 100%;
  
  height: calc(100vh - 50px); /* -50px pro rozdíl výšky navbaru */
  
    

}
.page-footer{

}
.vyska{
  height: 50px;
}

.text-center {
    text-align: center;
    color: white;
}
.company-name {
    font-size: 110px;
    color: white;
    
}
.company-description{
    font-size: 50px;
    font-family: 'Open Sans', sans-serif;
    
}


  .navbar {
    top: 10%;
    
    height: fit-content;
    align-items: center;
    background-color: white;
    display: flex;
    justify-content: flex-end; 
    width: 80%; 
    margin: 0 auto; 
    margin-bottom: 14%;
    /* margin-top: 3% ; */
    
    
    
  }
  
  .navbar a {
    color: lightgray;
    text-decoration: none;
    /*padding-left:  20px;
    padding-right: 20px;*/
    padding: 30px;
    
    
    
    font-size: 12px;
    margin-left: 0;
    
  }
  
  .navbar a:hover {
    background-color: rgb(255, 119, 0);
    color: white;

    
  }



  


.logo {
    flex: 1;
    max-height: 100%;
    height: auto;
    background-size: contain;
    
    

    
}
.navbar-buttons{
    display: flex;
    justify-content: flex-end;
    flex: 1;
    
}
.continue-button {
    text-align: center; /* pro centrální zarovnání tlačítka */
    
  }
  
  .continue-button a {
    color: white; 
    text-decoration: none; 
    background-color: rgb(255, 119, 0); 
    padding: 10px 20px; 
    font-size: 18px; 
    
  }
  
  .continue-button a:hover {
    /* nastavení po najetí kurzoru */
  }
  .fa-arrow-down{
    font-size: 15px;
    padding-left: 5px;
    
  }

  .custom-button {
    font-family: 'Open Sans', sans-serif;
    
    
  }
  .custom-button i{
    margin-left: 10px;
  }
.company-text{
  font-size: 50px;
  text-align: center;
  font-family:'Roboto', sans-serif ;
  margin-top: 600px;
  

}
